// Fuentes
$fuente_principal: "Poppins", sans-serif;
$fuente_secundario: "Caveat", cursive;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$negro: #181717;
$naranja: #eca217;
$blancoOscuro: #fafafa;
$blanco: #ffffff;
$marron: #bd9267;
$gris: #a09e9b;
$grisTexto: #53616f;

$separacion: 5rem;

// Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;
